<%- include ("../../../partials/head.ejs") %> <%- include ("../../../partials/headerAdmin.ejs") %>
<div class="flex-1 overflow-auto flex flex-col">
    <div class="h-full">
        <h1 class="text-2xl text-center">Usuários</h1>
        <hr class="self-center w-[calc(100%-15%)] mt-2 mb-4" />
        <button class="hidden md:block botao ml-4 mb-4"><a href="/admin/users/create">Criar Usuário</a></button>
        <div class="md:hidden flex flex-row mb-4 gap-4 sm:pl-4">
            <form action="" id="usersForm" onsubmit="clicado(event, this)">
                <button class="edit-btn">Editar</button>
                <label>
                    <input
                        autocomplete="off"
                        type="number"
                        required
                        name="article_id"
                        id="article_id"
                        class="w-[50px] overflow-hidden py-1 rounded-md px-2 border placeholder:italic placeholder:text-slate-400 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1" />
                </label>
            </form>

            <form method="post" class="userDel" action="/admin/users/delete" onsubmit="confirmDeleteArt (event, this)">
                <button class="delete-btn">Apagar</button>
                <input
                    size="1"
                    autocomplete="off"
                    type="number"
                    name="id"
                    required
                    class="w-[50px] py-1 rounded-md px-2 border placeholder:italic placeholder:text-slate-400 shadow-sm focus:outline-none focus:border-sky-500 focus:ring-sky-500 focus:ring-1" />
            </form>
            <button class="self-end botao md:hidden whitespace-nowrap"><a href="/admin/users/create ">Criar Novo</a></button>
        </div>

        <div class="overflow-auto pb-5 text-center">
            <table class="w-full mx-auto max-w-[1200px] bg-white shadow-md rounded-lg overflow-auto">
                <thead class="sticky top-0 bg-gray-200 text-gray-700">
                    <tr>
                        <th class="py-3 px-6">Id</th>
                        <th class="py-3 px-6">Nome</th>
                        <th class="py-3 px-6">Email</th>
                        <th class="hidden md:block py-3 px-6">Ações</th>
                    </tr>
                </thead>
                <tbody class="text-gray-600 bg-white">
                    <% users.forEach(users => { %>
                    <tr class="border-b border-gray-200">
                        <td class="trtd border-l"><%= users.id %></td>
                        <td class="trtd border-l"><%= users.name %></td>
                        <td class="trtd border-l"><%= users.email %></td>
                        <td class="hidden trtd border-l md:flex flex-wrap justify-around content-around md:justify-around">
                            <form action="/admin/users/update/<%= users.id %>">
                                <button class="edit-btn"><a href="/admin/users/edit/<%= users.id %>">Editar</a></button>
                            </form>
                            <form method="post" action="/admin/users/delete" class="inline userDel" onsubmit="confirmDeleteArt(event, this)">
                                <input type="hidden" name="id" value="<%= users.id %>" />
                                <button class="delete-btn">Apagar</button>
                            </form>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<%- include ("../../../partials/footer.ejs") %>
