<%- include ("../partials/head.ejs") %> <%- include ("../partials/header.ejs") %>

<div class="overflow-hidden flex flex-col py-5 h-full ">
    <h1 class="text-2xl text-center "><%= article.title %></h1>
    <hr class="self-center w-[calc(100%-20%)] mt-2 mb-6" />
    <div class="mx-3 overflow-hidden border rounded-md p-3 text-gray-600">
        <div class="overflow-auto h-full indent-3"><%- article.body %></div>
    </div>
</div>

<%- include ("../partials/footer.ejs") %>
